@model Owleet.Models.Question
@{
    Layout = null;
}
<div class="container-fluid">
    <div class="row my-1">
        <span class="col-md-4 font-weight-bold">@Html.DisplayNameFor(model => model.Text)</span>
        <span class="col-md-8">@Html.DisplayFor(model => model.Text)</span>
    </div>
</div>
