@model Owleet.Models.Question

@{
    Layout = null;
    string action = ViewContext.RouteData.Values["Action"].ToString();
}
<form asp-action="@action" id="form">
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Text" class="col-form-label"></label>
        <input asp-for="Text" class="form-control"/>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
</form>

