@model IEnumerable<Owleet.Models.Question>
@{
    ViewData["Title"] = "Вопросы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="modal-placeholder"></div>

<div class="row">
    <div class="container-fluid my-2">
        <h2 class="d-inline">Вопросы</h2>
        <a href="#" class="d-inline float-right text-dark fas fa-plus-circle fa-2x" data-target="#modal-container" data-toggle="modal" data-url="@Url.Action("Create")"></a>       
    </div>
    <div class="container-fluid" id="partialTable">
        @await Html.PartialAsync("_Table", Model)
    </div>
</div>
