@model Owleet.Models.Test

@{
    Layout = null;
    string action = ViewContext.RouteData.Values["Action"].ToString();
    string submitText = action == "Create" ? "Add" : "Edit";
}
<form asp-action="@action">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="IsTimeLimit" /> @Html.DisplayNameFor(model => model.IsTimeLimit)
        </label>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="IsPrivate" /> @Html.DisplayNameFor(model => model.IsPrivate)
        </label>
    </div>
    <div class="form-group">
        <label asp-for="ErrorCount" class="control-label"></label>
        <input asp-for="ErrorCount" class="form-control" />
        <span asp-validation-for="ErrorCount" class="text-danger"></span>
    </div>
            
    <div class="form-group">
        <input type="submit" value="@submitText" class="btn btn-primary" />
    </div>
</form>

