@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/modernizr2.8.3.min.js"></script>
 <script src="~/js/main.js" asp-append-version="true"></script>
    <div class="owl-stage-outer"><div class=" slider-height-2 align-items-center d-flex bg-img slider-overlay2-2 default-overlay" style="background-image:url(./IMG/bg-1.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                        <div class="slider-content slider-content-2 slider-animated-2 text-center">
                            <h1 class="animated">Добро пожаловать в owleet</h1>
                            <p class="animated">платформа для создания и прохождения тестов</p>
                            <div class="slider-btn">
                                <a class="animated default-btn btn-green-color" href="#">Создать тест</a>
                                <a class="animated default-btn btn-white-color" href="#">Пройти тест</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
       <br/>
    </div>
<div class="row h-100 justify-content-center align-content-center text-center">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="single-count mb-30 count-one">
                    <div class="count-img">
                        <img src="img/achieve-5.png" alt="">
                    </div>
                    <div class="count-content">
                        <h2 class="count">89</h2>
                        <span>Пользователей</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="single-count mb-30 count-two">
                    <div class="count-img">
                        <img src="img/achieve-4.png" alt="">
                    </div>
                    <div class="count-content">
                        <h2 class="count">15</h2>
                        <span>Викторин</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                <div class="single-count mb-30 count-three">
                    <div class="count-img">
                        <img src="img/achieve-3.png" alt="">
                    </div>
                    <div class="count-content">
                        <h2 class="count">36</h2>
                        <span>Побед игроков</span>
                    </div>
                </div>
            </div>
            </div>
        
